<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a96b577337.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/home.css">
    <title>Trip4You</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <a class="navbar-brand" href="../views/home.html">Trip<span>4</span>You</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/packages.html">Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
	
    <!-- 
        <i class="fas fa-couch"></i>
        <i class="fas fa-hand-holding-usd"></i>
        <i class="fas fa-user-tie"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i> 
    -->		

    <div class="jumbotron">
        <div id="innerJumbotron" class="d-flex flex-column justify-content-center align-items-center">            
            <h1 class="text-center">Explore</h1>
            <h4 class="text-center">Life Is Short And The World Is Wide</h4>
            <a href="../views/packages.html"><button type="button" class="btn btn-primary mt-5">View All Packages <i
                    class="fas fa-arrow-circle-right"></i></button></a>
        </div>
    </div>

    <section class="mt-5" id="serviceSection">
        <h2 class="text-center sectionHeader">Why us?</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 cardCol">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <p class="servicesIcon text-center"><i class="fas fa-couch"></i></p>
                            <h5 class="card-title text-center">Convenience</h5>
                            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Maiores fuga officia asperiores explicabo esse necessitatibus animi omnis consequuntur,
                                ab non cumque nam reiciendis!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 cardCol">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <p class="servicesIcon text-center"><i class="fas fa-hand-holding-usd"></i></p>
                            <h5 class="card-title text-center">Save Money</h5>
                            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Maiores fuga officia asperiores explicabo esse necessitatibus animi omnis consequuntur,
                                ab non cumque nam reiciendis!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 cardCol">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <p class="servicesIcon text-center"><i class="fas fa-user-tie"></i></p>
                            <h5 class="card-title text-center">Expert Advice</h5>
                            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Maiores fuga officia asperiores explicabo esse necessitatibus animi omnis consequuntur,
                                ab non cumque nam reiciendis!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2 class="text-center sectionHeader">Trending</h2>
        <div class="row w-75 mx-auto">
			<div class="image col-12 col-md-6 col-lg-8 my-3">
            	<img class="img-fluid border border-white rounded" src="../assets/pic1.jfif">
			</div>
			<div class="image col-lg-4 my-3 d-none d-lg-flex flex-column justify-content-between">
                <img class="img-fluid border border-white rounded" src="../assets/pic2.jfif">
            	<img class="img-fluid border border-white rounded" src="../assets/pic3.jfif">
            </div>
            
			<div class="image col-12 col-md-6 col-lg-6 my-3 d-block d-lg-none">
                <img class="img-fluid border border-white rounded" src="../assets/pic2.jfif">
            </div>
			<div class="image col-12 col-md-6 col-lg-6 my-3 d-block d-lg-none">
				<img class="img-fluid border border-white rounded" src="../assets/pic3.jfif">
            </div>

			<div class="image col-12 col-md-6 col-lg-6 my-3">
				<img class="img-fluid border border-white rounded" src="../assets/pic4.jfif">
			</div>
			<div class="image col-12 col-md-6 col-lg-6 my-3">
				<img class="img-fluid border border-white rounded" src="../assets/pic5.jfif">
			</div>
		</div>
    </section>
</body>

<footer>
    <div id="upperFooter" class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <ul id="footerList" class="mx-auto w-100">
                    <a href="../views/home.html"><li>Home</li></a>
                    <a href="../views/about.html"><li>About</li></a>
                    <a href="../views/packages.html"><li>Packages</li></a>
                    <a href="../views/contact.html"><li>Contact</li></a>
                </ul>
                <ul id="socialMedia" class="mt-5">
                    <li>Connect: </li>
                    <a href="#"><li><i class="fab fa-facebook-f"></i></li></a>
                    <a href="#"><li><i class="fab fa-instagram"></i></li></a>
                    <a href="#"><li><i class="fab fa-twitter"></i></li></a>
                    <a href="#"><li><i class="fab fa-youtube"></i></li></a>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <h5>Stay Connected!</h5>
                <form class="form-inline">
                    <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="email@example.com">
                    <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
                  </form>
            </div>
        </div>
    </div>
    <div id="lowerFooter" class="text-center">
        <p>Copyright &copy 2020. All right reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</html>
